extends ../_main
block content
	.col-12: center
		br
		br
		table
			tr
				td(style='text-align: right;'): strong Address:
				td: input#address(type='text')
			tr
				td(style='text-align: right;'): strong Port:
				td: input#port(type='number')
			tr: td &nbsp;
			tr
				td(colspan=2): button(onclick='monitor();') Start
		br
		br
	.col-4.panel#cpu-col
		h2: i.far.fa-microchip.fa-3x
		table.data-table
			tr
				td.left.top.tl-corner(rowspan='3') Temp
				td.center.top Value
				td.right.top.tr-corner#cpu-temp-val --
			tr
				td.basic.center Min
				td.basic.right#cpu-temp-min --
			tr
				td.basic.center.b-pad Max
				td.basic.right.b-pad#cpu-temp-max --
			tr
				td.left.top(rowspan='3') Clocks
				td.center.top Avg
				td.basic.right.top#cpu-clocks-val --
			tr
				td.basic.center Min
				td.basic.right#cpu-clocks-min --
			tr
				td.basic.center.b-pad Max
				td.basic.right.b-pad#cpu-clocks-max --
			tr
				td.left.top.bottom.bl-corner(rowspan='3') Load
				td.center.top Avg
				td.top.right#cpu-load-val --
			tr
				td.basic.center Min
				td.basic.right#cpu-load-min --
			tr
				td.basic.center.bottom.b-pad Max
				td.basic.right.bottom.br-corner.b-pad#cpu-load-max --

	.col-4.panel#gpu-col
		h2: i.far.fa-desktop.fa-3x
		table.data-table
			tr
				td.left.top.tl-corner(rowspan='3') Temp
				td.center.top Value
				td.top.right.tr-corner#gpu-temp-val --
			tr
				td.basic.center Min
				td.basic.right#gpu-temp-min --
			tr
				td.basic.center.b-pad Max
				td.basic.right.b-pad#gpu-temp-max --
			tr
				td.left.top(rowspan='3') Clocks
				td.center.top Value
				td.top.right#gpu-clocks-val --
			tr
				td.basic.center Min
				td.basic.right#gpu-clocks-min --
			tr
				td.basic.center.b-pad Max
				td.basic.right.b-pad#gpu-clocks-max --
			tr
				td.left.top(rowspan='3') Load
				td.center.top Value
				td.top.right#gpu-load-val --
			tr
				td.basic.center Min
				td.basic.right#gpu-load-min --
			tr
				td.basic.center.b-pad Max
				td.basic.right.b-pad#gpu-load-max --
			tr
				td.left.top.bottom.bl-corner(rowspan='3') RAM
				td.center.top Percent
				td.right.top#gpu-ram-percent --
			tr
				td.basic.center Used
				td.basic.right#gpu-ram-used --
			tr
				td.basic.center.bottom.b-pad Free
				td.basic.right.bottom.br-corner.b-pad#gpu-ram-free --

	.col-4.panel#ram-col
		h2: i.far.fa-memory.fa-3x
		table.data-table
			tr
				td.top.bottom.left.tl-corner.bl-corner(rowspan='3') Data
				td.center.top Percent
				td.right.top.tr-corner#ram-data-percent --
			tr
				td.basic.center Used
				td.basic.right#ram-data-used --
			tr
				td.basic.center.bottom.b-pad Free
				td.basic.right.bottom.br-corner.b-pad#ram-data-free --

block append scripts
	script(src='/monitor.js')
	//- Links to any extra external or inline scripts/stylesheets.
		Can use either block to replace all defaults (not recommended!)
		Or can use append to add on to existing defaults (recommended).

//- Checklist:
	1. Properly extends _main?
	2. Page has a Title?
	3. Page has a manifest (if required)?
	4. Page has content (leave blank for coming soon)?
	5. Page has scripts/styles if needed?
	6. Page has relevant Sass?
	7. Page is working both mobile & desktop?